html,
body,
#app {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
  min-width: 1366px;
  overflow: hidden;
  border-style: border-box;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.el-main {
  margin-bottom: 50px;
  height: 100vh;
  background-color: #eef0f3;
}
.el-header {
  --el-header-padding: 0 !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
