@import './base.scss';

// 主题色
$primary: #d3e4cd;
// 背景色
$bc: #fff5eb;
// 字体色
$fc: #fff;

// 背景图片地址大小
@mixin bgc($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
// 字体大小颜色
@mixin fsc($size, $color: $fc) {
  font-size: $size;
  color: $color;
}
// flex布局与子元素垂直居中
@mixin fja {
  display: flex;
  justify-content: center;
  align-items: center;
}
// 定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
